/* .ScrollDiv{
    transition: left 0.2s linear;
    
} */
.ScrollDiv.hide{
    transition: none;
}
.ScrollDiv.show{
    transition: left 0.1s linear;
}
.ScrollDiv.fixed{
    transition: none;
    left: 40px;
}
.newdiv{
    background-color: rgb(39, 13, 65);
}
.FirstBase.Hide{
    opacity: 0;
}
.FirstBase.Show{
    /* transition: left 0.2s linear; */
    opacity: 1;
}
.Second.Hide{
    opacity: 0;
}
.Second.Show{
    /* transition: left 0.2s linear; */
    opacity: 1;
}